/* CONTAINER */
.container {
	width: 90%;
	max-width: var(--max-width);
	margin: auto;
}

/* BUTTONS */
.btn {
	display: inline-block;
	cursor: pointer;
	border: 0;
	font-weight: bold;
	font-size: 15px;
	padding: 10px 20px;
	background-color: var(--dark-color);
	color: #fff;
}

.btn:hover {
	opacity: 0.9;
}
